body{
  
    background-image: url(image/quiz7.jpg); 
   background-size: cover;   
 
   
 }
 .input-answer {
     border: 2px solid;
     width: 320px;
     padding: 10px;
     border-radius: 10px;
     background-color: rgb(155 196 209)
 }
 .input-answer:hover{
     transform: scale(1.1);
     transition: 0.5s;
     background-color: #256f67;
     color: white;
     font-weight: bold;
     border: 2px solid black
 }
 
 .input-answer2 {
     border: 2px solid;
     width: 320px;
     padding: 10px;
     border-radius: 10px;
     margin-top: 20px;
     background-color: rgb(155 196 209)
     
 }
 .input-answer2:hover{
     transform: scale(1.1);
     transition: 0.5s;
     background-color: #256f67;
     color: white;
     font-weight: bold;
     border: 2px solid black
 }
 
 .input-answer3 {
     border: 2px solid;
     width: 320px;
     padding: 10px;
     border-radius: 10px;
     margin-top: 20px;
     background-color: rgb(155 196 209)
 }
 .input-answer3:hover{
     transform: scale(1.1);
     transition: 0.5s;
     background-color:#256f67;
     color: white;
     font-weight: bold;
     border: 2px solid black
 }
 
 .input-answer4 {
     border: 2px solid;
     width: 320px;
     padding: 10px;
     border-radius: 10px;
     margin-top: 20px;
     background-color: rgb(155 196 209)
 }
 .input-answer4:hover{
     transform: scale(1.1);
     transition: 0.5s;
     background-color: #256f67;
     color: white;
     font-weight: bold;
     border: 2px solid black
 }
 
 section {
     width: 100%;
     height: 100%;
   
 }
 
 .div-form {
     width: 100%;
     height: 700px;
     display: flex;
     justify-content: center;
     align-items: center;
 
 }
 
 #form {
     border: 2px solid;
     padding: 70px;
     border-radius: 25px;
      opacity: 0.7;
     background-color: rgb(11, 12, 12); 
     
 } 
 
 .div-input-p {
     
     width: 100%;
     height: 100%;
     padding: 20px;
     padding: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 
 #button-next {
    
     font-size: 25px;
     height: 50px;
     width: 135px;
     margin-top: 25px;
     background-color: rgb(1, 110, 178);
     border-radius: 5px;
     color: white;
 
 }
 #button-next:hover{
     background-color:  rgb(111, 181, 242);
     
 }
 .para{
     color: aliceblue;
     font-size: 20px;
 }