.result_box
{
  background-color:white ;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:500px;
  height: 600px;
  padding: 25px 30px;
  border-radius: 25px;
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: red;
  
}

.result_box .icon
{
    font-size: 150px;
    margin-bottom: 10px;
}



.result_box .complete_text
{
  font-size: 20px;
  font-weight: 800;
  position: relative;
  top:20px;

}

.result_box .score_text span{

    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 650;
}

.result_box .buttons
{
 display: flex;
 margin: 40px 0;


}

.result_box .buttons .finish
{
    margin: 0 10px;
    height: 40px;
    width: 140px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    background-color: black;
    margin-right: 60px;
    
}

.result_box .buttons .finish:hover{
  
    transform: scale(1.1);
}

.result_box .buttons .show_result
{
    height: 40px;
    width: 150px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    background-color: black;
}
.result_box .buttons .show_result:hover{
    transform: scale(1.1);
}

#background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }




@media screen and (max-width: 600px) {
    .result_box {
       width: 300px;
       height: 500px;
       margin-left: 5px;
    }
    .result_box .buttons .finish
    {
        width:90px;
        margin-left: 40px;
    }
    .result_box .buttons .show_result
    {
        width:140px;
        margin-right: 35px;
    }
   
  }